[defaults]
inventory = ./inventory
remote_user = coin

[privilege_escalation]
# 권한 상승 여부 = yes
become = True
# 방식은? = sudo
become_method = sudo 
# 누구로 전환? = root 
become_user = root 
 # sudo 할 때 비밀번호 입력 = no (sudoers.d 등록 필)
become_ask_pass = False

